{% extends "dnd_online/template.html" %}

{% block title %} Байки у костра {% endblock %}

{% block content %}

<div class="bg_block_greeting flex_vert flex_vert" style="font-family: MedievalSharp">
    <div class="padding_top_bot block_greeting">
        <h1 class="text_h">Добро пожаловать в мир D&D</h1>
        <p class="text_p padding_top" >Здесь начинаются легенды. Здесь герои рождаются в броске кубика, злодеи затаились в тенях подземелий, а судьбы целых королевств зависят от ваших решений.</p>
        <p class="text_p padding_top" >D&D — это не просто настольная игра. Это бескрайние вселенные, где вы — искатель приключений, хитроумный маг, благородный паладин или коварный разбойник. Это истории, которые вы создаёте вместе с друзьями: смешные, драматичные, эпичные и непредсказуемые.</p>
        <p class="text_p padding_top"><em>Какой будет ваша история?</em></p>
        <div class="GS_container flex_line"><a class="text GS_button bold" href="http://85.208.87.179:30000/">Начать игру</a></div>
    </div>    
</div>


<div class="bg_block_stream" style="font-family: MedievalSharp">
    <div class="block_stream">
        <h1 class="text_s_h"><em>Ближайшая игра</em></h1>
        <div class="timmed">
            <img class="adventure_img" src="media/others/orc_stole.jpeg" alt="orcs">
        </div>
    </div>
</div>


<div class="bg_block_greeting">

    {% for adventure in random_adventures %}

    <div class="adventure_block" style="font-family: MedievalSharp">
        <div class="adventure_block_img">
            <img class="adventure_img" src="{{ adventure.image.url }}" alt="{{ adventure.name }}">
        </div>
        <div class="adventure_block_content">
            <h2>{{ adventure.name }}</h2>
            <p class="Hoverflow">{{ adventure.content|truncatewords:13 }}</p>
            <div class="adventure_footer">
                <p class="adventure_footer_left">{{ adventure.type_adventure }}</p>
                <p class="adventure_footer_right">{{ adventure.status }}</p>
            </div>
        </div>
        <div class="adventure_footer_about">
            <a class="adventure_footer_about_button" href="#">Подробнее</a>
        </div>
    </div>



    {% endfor %}

</div>


{% endblock %}