{% extends "dnd_online/template.html" %}

{% block title %} Байки у костра {% endblock %}

{% block content %}
<div class="bg_block_greeting flex_vert flex_vert" style="font-family: MedievalSharp">
    <div class="padding_top_bot block_greeting">
        <h1 class="text_h">Добро пожаловать в мир D&D</h1>
        <p class="text_p padding_top" >Здесь начинаются легенды. Здесь герои рождаются в броске кубика, злодеи затаились в тенях подземелий, а судьбы целых королевств зависят от ваших решений.</p>
        <p class="text_p padding_top" >D&D — это не просто настольная игра. Это бескрайние вселенные, где вы — искатель приключений, хитроумный маг, благородный паладин или коварный разбойник. Это истории, которые вы создаёте вместе с друзьями: смешные, драматичные, эпичные и непредсказуемые.</p>
        <p class="text_p padding_top"><em>Какой будет ваша история?</em></p>
        <div class="GS_container flex_line"><a class="text GS_button bold" href="#">Начать игру</a></div>
    </div>    
</div>

<div class="bg_block_stream flex_vert flex_vert" style="font-family: MedievalSharp">
    <div class="block_stream">
        <h1 class="text_s_h"><em>Ближайшая трансляция</em></h1>
    </div>
</div>
{% endblock %}