{% extends "dnd_online/template.html" %}

{% block title %} Байки у костра {% endblock %}

{% block content %}
<div class="bg_block_one">
    <h1>Its WORK!!!</h1>
    <p>realy work</p>
    <h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p>
    h1>Its WORK!!!</h1>
    <p>realy work</p>
    <h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p><h1>Its WORK!!!</h1>
    <p>realy work</p>
</div>
{% endblock %}